[Unit]
Description=Run EyeMole Agent SBOM upload daily

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
RandomizedDelaySec=15m
Unit=eyemole-sbom.service

[Install]
WantedBy=timers.target
